https://www.geeksforgeeks.org/naive-bayes-classifiers/

In [1]:
#generate a model
from sklearn.naive_bayes import GaussianNB

In [2]:
# Assigning features and label variables
data ={'outlooks':['Sunny','Sunny','Overcast','Rainy','Rainy','Rainy','Overcast','Sunny','Sunny',
'Rainy','Sunny','Overcast','Overcast','Rainy'],
'temp':['Hot','Hot','Hot','Mild','Cool','Cool','Cool','Mild','Cool','Mild','Mild','Mild','Hot','Mild'],
'Humidity':['High','High','High','High','Normal','Normal','Normal','High','Normal','Normal','Normal','High','Normal','High'],

'Windy':['False','True','False','False','False','True','True','False','False','False','True','True','False','True'],


'play':['No','No','Yes','Yes','Yes','No','Yes','No','Yes','Yes','Yes','Yes','Yes','No']}

In [3]:
import pandas as pd
df=pd.DataFrame(data)

In [4]:
df

    outlooks  temp Humidity  Windy play
0      Sunny   Hot     High  False   No
1      Sunny   Hot     High   True   No
2   Overcast   Hot     High  False  Yes
3      Rainy  Mild     High  False  Yes
4      Rainy  Cool   Normal  False  Yes
5      Rainy  Cool   Normal   True   No
6   Overcast  Cool   Normal   True  Yes
7      Sunny  Mild     High  False   No
8      Sunny  Cool   Normal  False  Yes
9      Rainy  Mild   Normal  False  Yes
10     Sunny  Mild   Normal   True  Yes
11  Overcast  Mild     High   True  Yes
12  Overcast   Hot   Normal  False  Yes
13     Rainy  Mild     High   True   No

In [5]:
df_c=df.astype('category')

In [6]:
#convert  data type object to categorical
df_c["outlooks"]=df_c["outlooks"].cat.codes
df_c["temp"]=df_c["temp"].cat.codes
df_c["Humidity"]=df_c["Humidity"].cat.codes
df_c["Windy"]=df_c["Windy"].cat.codes
df_c["play"]=df_c["play"].cat.codes

In [7]:
df_c

    outlooks  temp  Humidity  Windy  play
0          2     1         0      0     0
1          2     1         0      1     0
2          0     1         0      0     1
3          1     2         0      0     1
4          1     0         1      0     1
5          1     0         1      1     0
6          0     0         1      1     1
7          2     2         0      0     0
8          2     0         1      0     1
9          1     2         1      0     1
10         2     2         1      1     1
11         0     2         0      1     1
12         0     1         1      0     1
13         1     2         0      1     0

In [8]:
X=df_c.iloc[:,:4].values
X

array([[2, 1, 0, 0],
       [2, 1, 0, 1],
       [0, 1, 0, 0],
       [1, 2, 0, 0],
       [1, 0, 1, 0],
       [1, 0, 1, 1],
       [0, 0, 1, 1],
       [2, 2, 0, 0],
       [2, 0, 1, 0],
       [1, 2, 1, 0],
       [2, 2, 1, 1],
       [0, 2, 0, 1],
       [0, 1, 1, 0],
       [1, 2, 0, 1]], dtype=int8)

In [9]:
y=df_c.iloc[:,4].values

In [10]:
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int8)

In [11]:
#Create a Gaussian Classifier
model = GaussianNB()


# Train the model using the training sets
model.fit(X,y)


#Predict Output
y_pred= model.predict(X)

In [12]:
y

array([0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int8)

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix
print (accuracy_score(y,y_pred))

0.9285714285714286

In [14]:
predicted=model.predict([[0,2,1,1]])
predicted

array([1], dtype=int8)